/**** NOTES ******

---> Completed mobile. Thoughts on ipad/desktop - make over all layout the same. Then just tweak spacing font sizes for desktop.*/


html {
  font-size: 16px;
}

/***** BASE STYLES *****/

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2b2b2b;
  font-size: 1em;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0px;
}

/**** Header ****/

header {
  display: flex;
  background: url('../img/hero.png') center no-repeat;
  background-size: cover;
  justify-content: center;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

header h1 {
    color: #bbc085;
    display: flex;
    font-family: 'Lora', serif;
    font-size: 2.25em;           /*desktop - 30px*/
    justify-content: center;
    width: 100%;
    margin-top: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 15px 0;
}

nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.5em;             /*desktop - 18px*/
    color: #9f9f9f;
}
header h2 {
    font-family: 'Lora', serif;
    font-size: 2.25em;             /*desktop - 72px*/
    /*line-height: 80px;*/          /*desktop - 80px*/
    color: #9b9b9b;
    margin-bottom: 0;
    padding-left: 10px;
}
header h2 span {
    color: #2b2b2b;
}

/**** About ****/

#about {
  display: flex;
  justify-content: center;
}

#about .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

#about h2 {
  font-family: 'Lora', serif;
  font-size: 1.875em;              /*desktop - 36px*/
  /*padding-left: 15px;*/
}

#about p {
  font-size: 1.31em;              /*desktop - 21px*/
  color: #7f7f7f;
  line-height: 35px;            /*desktop - 40px*/
  /*padding: 0 15px;*/
}

/**** Work ****/

#work {
  background: #f9ceb7;
  display: flex;
  justify-content: center;
}

#work .skill-items {
  display: flex;
  flex-flow: row wrap;
}

#work .skill-items article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

#work .fontawesome-icon {
  color: #C49075;
  font-size: 4.5em;
  margin: 0;
  text-align: center;
  width: 100%;
}

#work h3 {
  font-size: 24px;                /*desktop - 24px*/
  line-height: 32px;              /*desktop - 32px*/
  width: 75%;
  text-align: center;
}

#work p {
  font-family: 'Lora', serif;
  font-size: 18px;                /*desktop - 18px*/
  line-height: 30px;              /*desktop - 30px*/
}

/**** Contact *****/

#contact {
  background: #ebebeb;
  display: flex;
  justify-content: center;
}

#contact .half-width {
  display: flex;
  flex-flow: row wrap;
}

#contact img#contact-img {
  border: 12px solid #ffffff;        /*desktop - 12px*/
}


#contact h2 {
    font-family: 'Lora', serif;
    font-size: 1.875em;                /*desktop - 36px*/
    line-height: 44px;              /*desktop - 44px*/
}
#contact #email-header{
    font-size: 1.75em;               /*desktop - 32px*/
    font-weight: 400;
    line-height: 44px;            /*desktop - 44px*/
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 1.5em;              /*desktop - 29px*/
    line-height: 44px;            /*desktop - 44px*/
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 1.72em;              /*desktop - 28px*/
}
#contact ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 100%;
}
#contact ul li {
     /*display: inline-block;*/
}
#contact ul img {
    font-size: 32px;             /*desktop - 32px*/
}

/************Media Queries***********/

@media only screen and (min-width: 768px) {
/*Tablet styles here*/
  .content-wrapper {
    max-width: 640px;
  }

  header .content-wrapper {
    justify-content: space-between;
    min-height: 300px;
  }

  header h1 {
    justify-content: flex-start;
    font-size: 1.875em;
    width: 50%
  }

  nav ul {
    flex-direction: row;
  }

  nav ul li {
    padding: 10px 15px;
  }

  nav ul li a {
    font-size: 1.125em;
  }

  header h2 {
    font-size: 2.625em;
  }

}
